doctype html
// saved from url=(0059)https://getbootstrap.com/docs/4.0/examples/floating-labels/ 
html.gr__getbootstrap_com(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='https://getbootstrap.com/favicon.ico')
    title Floating labels example for Bootstrap
    // Bootstrap core CSS 
    link(href='./Floating labels example for Bootstrap_files/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template 
    link(href='./Floating labels example for Bootstrap_files/floating-labels.css', rel='stylesheet')
  body(data-gr-c-s-loaded='true')
    form.form-signin
      .text-center.mb-4
        h1.h3.mb-3.font-weight-normal Login
      .form-label-group
        input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
        label(for='inputEmail') Email address
      .form-label-group
        input#inputPassword.form-control(type='password', placeholder='Password', required='')
        label(for='inputPassword') Password
      .checkbox.mb-3
        label
          input(type='checkbox', value='remember-me')
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      p.mt-5.mb-3.text-muted.text-center © 2017-2018
