nav.nav.nav-masthead.justify-content-center
    a.nav-link.active(href='./index.html') Home
    a.nav-link(href='./pages/login.html') Login
    a.nav-link(href='./pages/dashboard.html') Graphs
    a.nav-link(href='./about.html') About
    a.nav-link(href='./pages/contact.html') Contact